<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Creation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="login-container">
    <h1>Change password</h1>

    <form action="/changepassword" method="post">
        <fieldset>
            <legend>Enter details:</legend>
            <label for="password">Enter New Password:</label>
            <input type="password" id="password" name="NewPassword" pattern="(?=.*\d)(?=.*[A-Z])(?=.*\W).{8,}" required
            title="Password must contain at least 8 characters, including 1 capital letter, 1 special character, and 1 number">

            <label for="password2">Re-Enter New Password:</label>
            <input type="text" id="password2" name="NewPassword_confirm" pattern="(?=.*\d)(?=.*[A-Z])(?=.*\W).{8,}" required
            title="Password must contain at least 8 characters, including 1 capital letter, 1 special character, and 1 number">

            <label for="submitBtn"></label>
            <button type="submit" id="submitBtn" style="background-color: rgb(238, 58, 94);">Submit</button>
        <br><br>
            <a href="/">Back to login page</a>
        <h3 class="context">{{context}}</h3>
        </fieldset>
    </form>
    </div>
</body>
</html>
